* {
	text-decoration: underline;
}
body {
		background: url(Love___Heart_of_hearts_042863_.jpg) no-repeat #DC143C
		center top;
	}
#header {color:blue}

h3.style {color: green}
p.style {background-color: #E0FFFF}
p i {color: chocolate}

p#example:first-line { 
	color: red;
	font-size: 50px;
}
.href{
	color: 	#FFD700;
	font-size: 60px;
	text-decoration: underline;
}
.href:hover {
	color: red;
}
.href:active {
	color: black
}
.href:visited {
	color: pink ;
}
#textStyles {
	font-size: 1.1em;
	font-weight: bold;
	font-family: COMIC SANS MS;
	text-decoration: blink;
	text-align: left;

}